 {% extends 'base.html.twig' %} {% block title %}{% endblock %} {% block body %}
<h1>Devine mon number :coeur:</h1>
<input type="number" id="response">
<button id="clic">Clique moi dessus</button>
<p id="resultat"></p>
{% endblock %}